dist: precise
sudo: false
language: php

before_script:
- phpenv config-rm xdebug.ini || return 0
- composer install

script:
- vendor/bin/phpunit

jobs:
  include:
  - stage: Unit Test + Code Style Fixing
    php: 5.3
  - stage: Unit Test + Code Style Fixing
    php: 5.4
  - stage: Unit Test + Code Style Fixing
    php: 5.5
  - stage: Unit Test + Code Style Fixing
    php: 7.0
  - stage: Unit Test + Code Style Fixing
    php: 7.1
  - stage: Unit Test + Code Style Fixing
    php: 5.6
    script:
    - vendor/bin/phpunit
  - stage: deploy
    php: 5.6
    before_script: skip
    script:
    - if [[ "$TRAVIS_TAG" ]]; then ./release/build_release_package.sh ; fi
    deploy:
      provider: releases
      api_key:
        secure: exX7q09MPaDXz0k39dks9+hUDaeTTQHKokobjXlDNb8vntqiua25mq8k7HTmTIaay7awV67b3rDyuvI7nPP71e2PZXOn1BcqrNC9K1cy6MDLxJuUYhohuuINPAVV4fkcGVpbvFfyEdui+nFod+502/0q6x8Bjrx4drQMqzq59BO+07NYOspjZyzQ/Q7lwCvDHxc1o40FmCoVttihufaRTM00qjhhM+SzHvyYdllfGRmB8Vd9hsAysWbDSmEyyZVhzXauzP8RArIIeYF8KRIlKmxUUdt2HN5/mV4F8kKSq93x3MNR0P1znag9Z/VJ0F3y5z1TxFLPEkyvBtv0ocFEZyDzIBZC/Q67F0XMlj2FvgkWTsiEQN+GC1j0KDKWRP4hlZw93gDEsxqDWyiy01gsoLwp5ET4HO2NAncTBQCk8HBUXSArdkzRDgCqsj7w4yGUieJxvk8wH54GKOvr5E3lq+HkrVhX93/elPzdc1Px3SLwknv46x/yShg+ZrC52hRyT6ebB/h8ycTldrWH8kV/fu/GBE8IfXrI9fZR/+DWCcGByPhLxe1OUxcelHF8xeq/5sSeN9euu7uMkelL3h71sB2HOX7CxsAu9w7G6AGRXdTN9lOOIz9R/tqkhLGZrL/ZCQGZzgUcPccCqh51Nq7JCkOGgKRtNZSU/+70GHmTOms=
      file: shopgate-magento-integration.tgz
      skip_cleanup: true
      on:
        tags: true

notifications:
  slack:
    rooms:
      secure: VByGngawzc9ndsMi8afmAdPLVha+1B2eLS4zzqjx55eotJYFgz1BSEfyRkh3gknXlQLpybxdBeG0B9COvU38Z/2mwNzdwFn/8K3hdNv3ZnIYHqc1vJRpMdUI3qFv4V6UoLAxIaZ74TRt6QsoCWq9TzwJOq+kb6ApsXmIlhG+VdbsZ6IvkiKAW08UC/GFDO4oOSOKL1UrjZq9ct8Y4Nt7+A0bQQELAhomzeHNapXgesnKtnZn4V1Ok4oDYh6/IL4uJbyRUADOniDeW3qziiCqcrMmLWBL/hbeTyJf5w/Ji2cMFqkMRvXfaVZ6bFvm2V0PcDzxNVtyEG5Gd13ypqT+OsZ5++cJJIYwQ+UdhDH130axaJSVSG3mIhJQhncwZpvRZHSO+brlt4EgY5SmsQuh7RhD84RTTZ9wHhn/wiPDeftBub54+WMLufaOx+4E6BCHrNuEqrn7ccw9Lkgr8wDeBXswCkAbFqYhbf5TeMQ+2tbxgdFwmTn9R12f0S+NOkEEnc1pBFW8Y1ds3TbkomRyd/nQJjLIcAX08RYmJuO+c8Vlj+Xktoh7wtzStnoTQoNWbo2/uAY5lgjURbmeKaJcw5iw11czRk7xnEuT9hmv3Q3LfItTWP/Epl6sQEVCg57XBosjHO249PV1iJHN5kjoccnHmg8q6uBjmFdZkHxJy/s=
    on_success: change
    on_failure: always
