<?xml version="1.0"?>
<config>
    <modules>
        <Shopgate_Framework>
            <version>2.9.68</version>
        </Shopgate_Framework>
    </modules>
    <phpunit>
        <suite>
            <modules>
                <Shopgate_Framework/>
            </modules>
        </suite>
    </phpunit>
    <global>
        <models>
            <shopgate>
                <class>Shopgate_Framework_Model</class>
                <resourceModel>shopgate_resource</resourceModel>
            </shopgate>
            <shopgate_resource>
                <class>Shopgate_Framework_Model_Resource</class>
                <deprecatedNode>shopgate_mysql4</deprecatedNode>
                <entities>
                    <shopgate_order>
                        <table>shopgate_order</table>
                    </shopgate_order>
                    <customer>
                        <table>shopgate_customer</table>
                    </customer>
                </entities>
            </shopgate_resource>
            <cataloginventory>
                <rewrite>
                    <stock>Shopgate_Framework_Model_Cataloginventory_Stock</stock>
                </rewrite>
            </cataloginventory>
            <compiler>
                <rewrite>
                    <process>Shopgate_Framework_Model_Compiler_Process</process>
                </rewrite>
            </compiler>
            <billsafe>
                <rewrite>
                    <client>Shopgate_Framework_Helper_Billsafe_Client</client>
                </rewrite>
            </billsafe>
        </models>
        <helpers>
            <shopgate>
                <class>Shopgate_Framework_Helper</class>
            </shopgate>
            <billsafe>
                <rewrite>
                    <order>Shopgate_Framework_Helper_Billsafe_Order</order>
                </rewrite>
            </billsafe>
        </helpers>
        <blocks>
            <shopgate>
                <class>Shopgate_Framework_Block</class>
            </shopgate>
        </blocks>
        <resources>
            <shopgate_setup>
                <setup>
                    <module>Shopgate_Framework</module>
                    <class>Shopgate_Framework_Model_Resource_Setup</class>
                    <entities>
                        <framework>
                            <table>shopgate_order</table>
                        </framework>
                    </entities>
                </setup>
            </shopgate_setup>
        </resources>
        <sales>
            <quote>
                <totals>
                    <shopgate_payment_fee>
                        <class>Shopgate_Framework_Model_Sales_Quote_Address_Total_ShopgatePaymentFee</class>
                        <after>subtotal,tax,discount,msrp</after>
                        <before>grand_total</before>
                    </shopgate_payment_fee>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <shopgate_payment_fee>
                        <class>Shopgate_Framework_Model_Sales_Invoice_Total_ShopgatePaymentFee</class>
                        <after>subtotal,tax,discount,msrp</after>
                        <before>grand_total</before>
                    </shopgate_payment_fee>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <shopgate_payment_fee>
                        <class>Shopgate_Framework_Model_Sales_Creditmemo_Total_ShopgatePaymentFee</class>
                        <after>subtotal,tax,discount,msrp</after>
                        <before>grand_total</before>
                    </shopgate_payment_fee>
                </totals>
            </order_creditmemo>
        </sales>
        <fieldsets>
            <sales_convert_quote>
                <shopgate_order_no>
                    <to_order>*</to_order>
                </shopgate_order_no>
            </sales_convert_quote>

            <sales_convert_order>
                <shopgate_order_no>
                    <to_quote>*</to_quote>
                </shopgate_order_no>
            </sales_convert_order>

            <sales_convert_quote_address>
                <shopgate_payment_fee>
                    <to_order>*</to_order>
                </shopgate_payment_fee>
                <base_shopgate_payment_fee>
                    <to_order>*</to_order>
                </base_shopgate_payment_fee>
            </sales_convert_quote_address>
        </fieldsets>
        <events>
            <shopgate_add_order_after>
                <observers>
                    <shopgate_framework_model_dreamrobot_observer_add_order>
                        <type>model</type>
                        <class>Shopgate_Framework_Model_DreamRobot_Observer</class>
                        <method>sendOrder</method>
                    </shopgate_framework_model_dreamrobot_observer_add_order>
                </observers>
            </shopgate_add_order_after>

            <shopgate_update_order_after>
                <observers>
                    <shopgate_framework_model_dreamrobot_observer_update_order>
                        <type>model</type>
                        <class>Shopgate_Framework_Model_DreamRobot_Observer</class>
                        <method>sendOrder</method>
                    </shopgate_framework_model_dreamrobot_observer_update_order>
                </observers>
            </shopgate_update_order_after>

            <core_collection_abstract_load_before>
                <observers>
                    <before_salesrules_loaded>
                        <type>model</type>
                        <class>shopgate/observer</class>
                        <method>beforeSalesrulesLoaded</method>
                    </before_salesrules_loaded>
                </observers>
            </core_collection_abstract_load_before>

            <sales_order_shipment_save_after>
                <observers>
                    <sales_order_shipment>
                        <type>singleton</type>
                        <class>shopgate/observer</class>
                        <method>setShippingStatus</method>
                    </sales_order_shipment>
                </observers>
            </sales_order_shipment_save_after>

            <sales_order_creditmemo_refund>
                <observers>
                    <cancel_order_items>
                        <type>singleton</type>
                        <class>shopgate/observer</class>
                        <method>submitCancellations</method>
                    </cancel_order_items>
                </observers>
            </sales_order_creditmemo_refund>

            <order_cancel_after>
                <observers>
                    <sales_order_cancled>
                        <type>singleton</type>
                        <class>shopgate/observer</class>
                        <method>cancelOrder</method>
                    </sales_order_cancled>
                </observers>
            </order_cancel_after>

            <shopgate_load_config_before>
                <observers>
                    <capture_oauth_registration_configuration_manipulation>
                        <type>singleton</type>
                        <class>shopgate/observer</class>
                        <method>catchOAuthRegistration</method>
                    </capture_oauth_registration_configuration_manipulation>
                </observers>
            </shopgate_load_config_before>

            <shopgate_save_config_after>
                <observers>
                    <set_default_store_on_oauth_registration>
                        <type>singleton</type>
                        <class>shopgate/observer</class>
                        <method>setDefaultStoreOnOAuthRegistration</method>
                    </set_default_store_on_oauth_registration>
                </observers>
            </shopgate_save_config_after>

            <sales_order_place_after>
                <observers>
                    <remove_virtual_products_of_shopgate_coupons>
                        <type>singleton</type>
                        <class>shopgate/observer</class>
                        <method>deleteShopgateCouponProducts</method>
                    </remove_virtual_products_of_shopgate_coupons>
                </observers>
            </sales_order_place_after>

            <adminhtml_init_system_config>
                <observers>
                    <add_developer_config>
                        <type>singleton</type>
                        <class>shopgate/observer</class>
                        <method>addDevSystemConfig</method>
                    </add_developer_config>
                </observers>
            </adminhtml_init_system_config>

            <controller_front_init_before>
                <observers>
                    <init_v2_controller>
                        <type>model</type>
                        <class>shopgate/observer_v2</class>
                        <method>execute</method>
                    </init_v2_controller>

                    <cms_map_compatibility>
                        <type>model</type>
                        <class>shopgate/observer_cmsMap</class>
                        <method>execute</method>
                    </cms_map_compatibility>

                    <bubble_stock_movement_compatibility>
                        <type>model</type>
                        <class>shopgate/observer_stock</class>
                        <method>execute</method>
                    </bubble_stock_movement_compatibility>
                </observers>
            </controller_front_init_before>
        </events>
        <payment>
            <groups>
                <shopgate_payment>Shopgate Payment Methods</shopgate_payment>
            </groups>
        </payment>
        <cache>
            <types>
                <shopgate translate="label,description">
                    <label>Shopgate Cache</label>
                    <description>Shopgate caching of performance intense operations</description>
                    <tags>SHOPGATE_CACHE</tags>
                </shopgate>
            </types>
        </cache>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <Shopgate_Framework module="Shopgate_Framework">
                    <file>shopgate.xml</file>
                </Shopgate_Framework>
            </updates>
        </layout>
        <translate>
            <modules>
                <Shopgate_Framework>
                    <files>
                        <default>Shopgate_Framework.csv</default>
                    </files>
                </Shopgate_Framework>
            </modules>
        </translate>
        <global_search>
            <shopgate_orders>
                <class>shopgate/search_shopgate_order</class>
                <acl>sales</acl>
            </shopgate_orders>
        </global_search>
        <events>
            <controller_action_predispatch>
                <observers>
                    <shopgate>
                        <type>singleton</type>
                        <class>shopgate/observer</class>
                        <method>checkForUpdates</method>
                    </shopgate>
                </observers>
            </controller_action_predispatch>

            <sales_order_invoice_pay>
                <observers>
                    <adjust_sequence_number>
                        <type>singleton</type>
                        <class>shopgate/observer</class>
                        <method>preparePayoneOrderForRefund</method>
                    </adjust_sequence_number>
                </observers>
            </sales_order_invoice_pay>

            <store_delete>
                <observers>
                    <website_store_removed>
                        <type>singleton</type>
                        <class>shopgate/observer</class>
                        <method>removeDefaultStore</method>
                    </website_store_removed>
                </observers>
            </store_delete>

            <core_block_abstract_to_html_after>
                <observers>
                    <shopgate_order_view_notice>
                        <class>shopgate/observer</class>
                        <method>getSalesOrderViewShopgateNotice</method>
                    </shopgate_order_view_notice>
                </observers>
            </core_block_abstract_to_html_after>

            <salesrule_rule_condition_combine>
                <observers>
                    <add_conditions_to_sales_rule>
                        <class>shopgate/observer</class>
                        <method>addConditionToSalesRule</method>
                    </add_conditions_to_sales_rule>
                </observers>
            </salesrule_rule_condition_combine>
        </events>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <shopgate_framework_main>
                    <file>shopgate.xml</file>
                </shopgate_framework_main>
            </updates>
        </layout>
        <routers>
            <shopgate>
                <use>standard</use>
                <args>
                    <module>Shopgate_Framework</module>
                    <frontName>shopgate</frontName>
                </args>
            </shopgate>
        </routers>
        <events>
            <controller_action_predispatch>
                <observers>
                    <set_params_for_pap>
                        <type>model</type>
                        <class>shopgate/modules_affiliate_packages_qualityunit_observer</class>
                        <method>execute</method>
                    </set_params_for_pap>
                    <mobile_redirect>
                        <type>model</type>
                        <class>shopgate/redirect_observer</class>
                        <method>execute</method>
                    </mobile_redirect>
                </observers>
            </controller_action_predispatch>
            <shopgate_routing_controller_name>
                <observers>
                    <mobile_redirect_action_mod>
                        <type>model</type>
                        <class>Shopgate_Framework_Model_Redirect_Route_Observer</class>
                        <method>execute</method>
                    </mobile_redirect_action_mod>
                </observers>
            </shopgate_routing_controller_name>
            <shopgate_redirect_type_js>
                <observers>
                    <mobile_redirect_js_intercept>
                        <type>model</type>
                        <class>Shopgate_Framework_Model_Redirect_Type_Js_Observer</class>
                        <method>execute</method>
                    </mobile_redirect_js_intercept>
                </observers>
            </shopgate_redirect_type_js>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <shopgate_framework before="Mage_Adminhtml">Shopgate_Framework_Adminhtml</shopgate_framework>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <shopgate>
            <rss>
                <url>developer.shopgate.com/magento.xml</url>
            </rss>
            <option>
                <active>0</active>
            </option>
            <debug>
                <server>live</server>
            </debug>
            <mobile>
                <redirect_type>http</redirect_type>
                <enable_default_redirect>0</enable_default_redirect>
                <disable_redirect_controllers>page</disable_redirect_controllers>
            </mobile>
            <export>
                <product_types>simple,configurable,grouped,bundle</product_types>
                <product_names>0</product_names>
                <description>0</description>
                <ignore_child_description>0</ignore_child_description>
                <description_nl2br>1</description_nl2br>
                <use_root_price>1</use_root_price>
                <weight_unit>0</weight_unit>
                <is_export_stores>0</is_export_stores>
                <item_sort>position</item_sort>
                <filterable_attributes>0</filterable_attributes>
                <export_excluded_image>0</export_excluded_image>
                <export_lowres_image>0</export_lowres_image>
                <net_market_countries>US,GR</net_market_countries>
                <first_export_image>base</first_export_image>
                <export_navigation_categories_only>0</export_navigation_categories_only>
                <use_price_index_on_export>1</use_price_index_on_export>
            </export>
            <orders>
                <mark_unblocked_orders_as_paid>0</mark_unblocked_orders_as_paid>
                <send_new_order_mail>0</send_new_order_mail>
                <write_customfields_into_statushistory>1</write_customfields_into_statushistory>
                <payment_title>Shopgate</payment_title>
                <apply_cart_rules>0</apply_cart_rules>
                <add_only_simple>0</add_only_simple>
                <use_shopgate_prices>0</use_shopgate_prices>
            </orders>
            <shipping>
                <carriers>
                    <DHL>shopgate</DHL>
                    <DHLEXPRESS>shopgate</DHLEXPRESS>
                    <DP>shopgate</DP>
                    <DPD>shopgate</DPD>
                    <FEDEX>shopgate</FEDEX>
                    <GLS>shopgate</GLS>
                    <HLG>shopgate</HLG>
                    <OTHER>shopgate</OTHER>
                    <TNT>shopgate</TNT>
                    <TOF>shopgate</TOF>
                    <UPS>shopgate</UPS>
                    <USPS>usps</USPS>
                    <Default>shopgate</Default>
                </carriers>
            </shipping>
        </shopgate>
        <payment>
            <shopgate>
                <title>Shopgate</title>
                <active>1</active>
                <model>shopgate/payment_shopgate</model>
                <order_status>pending</order_status>

                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
                <group>shopgate_payment</group>
            </shopgate>
            <mobile_payment>
                <title>Mobile Payment (Shopgate)</title>
                <active>1</active>
                <model>shopgate/payment_mobilePayment</model>
                <order_status>processing</order_status>

                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
                <group>shopgate_payment</group>
            </mobile_payment>

            <!-- deprecated -->
            <shopgate_generic>
                <active>0</active>
                <model>shopgate/payment_generic</model>
                <order_status>processing</order_status>
                <title>Mobile Payment (Deprecated)</title>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
                <group>shopgate_payment</group>
            </shopgate_generic>
        </payment>
        <carriers>
            <shopgate>
                <title>From Shopgate</title>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <showmethod>0</showmethod>
                <model>shopgate/carrier_fix</model>
                <name>Shopgate Fixed</name>
                <specificerrmsg>The Shipping-price is calculated and inserted by Shopgate.</specificerrmsg>
                <type>O</type>
                <handling_type>F</handling_type>
            </shopgate>
        </carriers>
    </default>
    <crontab>
        <jobs>
            <delete_virtual_products_generated_for_shopgate_coupons>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>shopgate/observer::deleteShopgateCouponProducts</model>
                </run>
            </delete_virtual_products_generated_for_shopgate_coupons>
        </jobs>
    </crontab>
</config>
